@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
	margin: 0;
	background-color: #141417;
}

.close {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #282831;
	width: 80px;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.open {
	width: 300px;
}

.kolo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #6A79FC;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	cursor: pointer;
	transition-duration: 0.5s;
	color: #000000;
}

.kolo:hover {
	color: #ffffff;
	box-shadow: 0px 0px 10px  #6a79fc;
}

.kafelek {
	border-radius: 25px;
	width: 260px;
	justify-content: flex-start;
}

.edit {
	margin-left: 40px;
}

span {
	display: none;
}

.text {
	display: block;
	margin: auto;
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
}